#nav > li > a {
	height: 64px !important;
	line-height: 64px !important;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: rgba(255, 255, 255, .7) !important;
	transition: color .1s ease;
	box-sizing: border-box;
}

body#shots #nav li#t-shots>a,
body#explore #nav li#t-explore>a,
body#players #nav li#t-players>a,
body#teams #nav li#t-teams>a,
body#meetups #nav li#t-meetups>a,
body#blog-index #nav li#t-stories>a,
body#blog-cat #nav li#t-stories>a,
body#story #nav li#t-stories>a,
body#jobs #nav li#t-jobs>a,
body#about #nav li#t-about>a,
body#signup #nav li#t-signup>a {
	color: #fff !important;
	border-bottom: 2px solid #fafafa !important;
}

#nav li ul.tabs,
div.member-actions ul.actions-on-user {
	background: #fff !important;
}

/* Sub Tabs */
#nav li ul.tabs li a {
	background: rgba(255, 255, 255, 0) !important;
	transition: background 0.3s ease;
	color: rgba(0, 0, 0, .87) !important;
}

#nav li ul.tabs li a:hover {
	background: rgba(33, 33, 33, .1) !important;
	color: rgba(0, 0, 0, .87) !important;
}

#nav li ul.tabs li a:active {
	background: rgba(33, 33, 33, .2) !important;
	color: rgba(0, 0, 0, .87) !important;
}

#nav li ul.tabs li.separate,
#nav li ul.tabs li.use-as,
#nav li#t-profile ul.tabs li:nth-child(3) {
	border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
}

#nav li:hover>a,
#nav li>a:hover {
	color: #fff !important;
}