body {
	font-family: "Roboto";
	margin: 0;
	background: #f2f2f2;
}
/*a.topnav-icons.fa.fa-home.w3-left:before {
	display: none;
}*/
/*a.topnav-icons.fa.fa-home.w3-left {
	content: "w3Schools";
}*/
.w3-topnav.w3-card-2.topnav {
	height: 56px;
	width: 100%;
	top: 0;
	position: fixed !important;
}
.hn:before {
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	content: "";
	height: 56px;
	left: -2%;
	position: fixed;
	width: 104%;
}
#topnav {
	background-color: #8bc34a !important;
}
#topnav > div:nth-child(1) > div:nth-child(1), #topnav > div:nth-child(1) > div:nth-child(2), #topnav > div:nth-child(1) > div.w3-hide-small {
	height: 56px !important;
	line-height: 56px;
	font-family: "Roboto";
}
.w3-container.top {
	display: none;
}
#belowtopnav {
	padding-top: 56px !important;
}
#sidemenuinner {
	box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-row.w3-white, .footer.w3-container.w3-white {
	background: #f2f2f2 !important;
}
/* Ads */
#skyscraper, #mainLeaderboard {
	display: none;
}
.topnav a {
	padding: 0 16px !important;
}